<h4>An all Bootstrap and AngularJS implementation of converting your data to and from Base64 encoding. No tracking of
  your data is done. No calls to other services.  It's all in your browser.</h4>

<tabset>
  <tab heading="Encode" id="encodeTab">
    <form class="form-horizontal" role="form" >
      <h2>Encode Data to Base64</h2>

      <div class="form-group">
        <label for="encodeInput" class="col-sm-2 control-label">Un-encoded</label>

        <div class="input-group col-sm-10">
          <textarea class="form-control" id="encodeInput" ng-model="base64.encodeInput" required></textarea>
        </div>
      </div>
      <div class="form-group">
        <label for="encodeOutput" class="col-sm-2 control-label">Encoded</label>

        <div class="input-group col-sm-10">
          <textarea class="form-control" id="encodeOutput" readonly>{{base64.encodeOutput}}</textarea>
        </div>
      </div>
      <div class="form-group ">
        <div class="col-sm-offset-2 col-sm-10">
          <button id="encode" class="btn btn-primary btn-sm" ng-click="base64.goEncode()" type="button">Encode
          </button>
          <button class="btn btn-danger btn-sm" ng-click="base64.clearEncode()" type="button">Clear</button>
        </div>
      </div>
    </form>
  </tab>
  <tab heading="Decode" id="decodeTab">
    <form class="form-horizontal" role="form">
      <h2>Decode Base 64 to Data</h2>

      <div class="form-group">
        <label for="decodeInput" class="col-sm-2 control-label">Encoded</label>

        <div class="input-group col-sm-10">
          <textarea class="form-control" id="decodeInput" ng-model="base64.decodeInput" required></textarea>
        </div>
      </div>
      <div class="form-group">
        <label for="decodeOutput" class="col-sm-2 control-label">Un-encoded</label>

        <div class="input-group col-sm-10">
          <textarea class="form-control" id="decodeOutput" readonly>{{base64.decodeOutput}}</textarea>
        </div>
      </div>
      <div class="form-group ">
        <div class="col-sm-offset-2 col-sm-10">
          <button id="decode" class="btn btn-primary btn-sm" ng-click="base64.goDecode()" type="button">Decode
          </button>
          <button class="btn btn-danger btn-sm" ng-click="base64.clearDecode()" type="button">Clear</button>
        </div>
      </div>
    </form>
  </tab>
</tabset>
