<h2 class="text-primary">Discount Calculator</h2>

<p>Calculate your final price where the retailer is offering
  separate discounts.</p>

<fieldset>
  <form class="form-horizontal" role="form">
    <div class="form-group">
      <label for="labelPrice" class="col-sm-2 control-label">Label
        Price</label>

      <div class="col-sm-10">
        <div class="input-group">
          <span class="input-group-addon">$</span> <input type="number"
                                                          class="form-control" id="labelPrice"
                                                          ng-model="discountCalc.labelPrice">
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="discount1" class="col-sm-2 control-label">Discount
        #1</label>

      <div class="col-sm-10">
        <div class="input-group">
          <input type="number" class="form-control" id="discount1" ng-model="discountCalc.discount1"> <span
          class="input-group-addon">%</span>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="discount2" class="col-sm-2 control-label">Discount
        #2</label>

      <div class="col-sm-10">
        <div class="input-group">
          <input type="number" class="form-control" id="discount2" ng-model="discountCalc.discount2"> <span
          class="input-group-addon">%</span>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <input type="button" id="calculate" value="Calculate" class="btn btn-primary"
               ng-click="discountCalc.calculate()">
        <input type="button" id="reset" value="Reset" class="btn btn-danger" ng-click="discountCalc.clear()">
      </div>
    </div>
    <div class="alert alert-danger alert-dismissible" role="alert" ng-show="discountCalc.errorShow">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
      <strong>Error! </strong>
      <ul>
        <li ng-repeat="message in discountCalc.calculationMessage">{{message}}</li>
      </ul>
    </div>
    <div class="alert alert-success alert-dismissible" role="alert" ng-show="discountCalc.successShow">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
      {{discountCalc.calculationMessage[0]}}
    </div>
  </form>
</fieldset>
