<h2 class="text-primary">Stock Quotes</h2>
<form class="form-inline">
  <div class="form-group">
    <label class="sr-only" for="symbol">Stock Symbol</label>
    <input type="text" name="stock" id="symbol" class="form-control input-sm" placeholder="Symbol"
           ng-model="stockQuote.stockInput">
    <input type="button" class="btn-sm btn-default" value="Go!" ng-click="stockQuote.submit()">
  </div>
</form>
<h4 class="text-primary">Stock List</h4>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Symbol</th>
    <th>Name</th>
    <th>Last Price</th>
    <th>Time</th>
    <th>Market Cap</th>
    <th>Change YTD</th>
    <th>High</th>
    <th>Low</th>
    <th>Open</th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="stock in stockQuote.stocks track by $index">
    <td>{{stock.Symbol}}</td>
    <td>{{stock.Name}}</td>
    <td>{{stock.LastPrice}}</td>
    <td>{{stock.Timestamp}}</td>
    <td>{{stock.MarketCap}}</td>
    <td>{{stock.ChangeYTD}}</td>
    <td>{{stock.High}}</td>
    <td>{{stock.Low}}</td>
    <td>{{stock.Open}}</td>
  </tr>
  </tbody>
</table>

