<div ng-controller="photoGalleryController" data-perpage="6" data-totalphotos="6"
     data-fileprefix="images/hondaPhotos/photo" data-filesuffix=".jpg">
    <h2>1997 Honda Shadow 750 ACE</h2>

    <p>In August 2007, I bought this Honda Shadow. The bike came with
        the saddle bags, custom forward controls, and windshield. It was a
        pretty good find for the price. I didn't love the single-front disc
        and rear drum brake, but otherwise it was a solid bike.
        Unfortunately, I lost the bike to an accident on I294 on the way to
        Harley's 105th Anniversary Celebration in 2008.</p>

    <script type="text/ng-template" id="pictureModal.html">
        <div class="modal-body">
            <img ng-src="{{modalPhoto}}" class="img-responsive"/>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary previous" type="button" ng-hide="hidePrevious" ng-click="prev()">&laquo;
                prev
            </button>
            <button class="btn btn-primary next" type="button" ng-hide="hideNext" ng-click="next()">
                next &raquo;</button>
        </div>
    </script>
    <div id="tpl-content" ng-include="'views/generateGallery.html'"></div>
</div>

