<div class="jumbotron">
  <h1>Welcome to the Halverson Web</h1>

  <p>Dan and Courtney would like to welcome you to some interesting
    content about their family.</p>

  <p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn
      more &raquo;</a>
  </p>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>Wedding</h2>

    <p>Professional and personal photography from our wedding in
      2004</p>

    <p>
      <a class="btn btn-default" href="wedding.html" role="button">View
        details &raquo;</a>
    </p>
  </div>
  <div class="col-md-4">
    <h2>Auto</h2>

    <p>My favorite cars and motorcycles.</p>

    <p>
      <a class="btn btn-default" href="cars.html" role="button">View
        details &raquo;</a>
    </p>
  </div>
  <div class="col-md-4">
    <h2>Apps</h2>

    <p>Here are Web Applications that Dan has written.</p>

    <p>
      <a class="btn btn-default" href="apps.html" role="button">View
        details &raquo;</a>
    </p>
  </div>
  <div class="col-md-4">
    <h2>Dan's Resume</h2>

    <p>
      <a class="btn btn-default"
         href="resume.html" role="button">View
        details &raquo;</a>
    </p>
  </div>
  <div class="col-md-4">
    <h2>Blogs</h2>

    <p>We have a couple of blogs to share!</p>

    <p>
      <a class="btn btn-default" href="blogs.html" role="button">View
        details &raquo;</a>
    </p>
  </div>
</div>
