<div class="jumbotron">
  <h1>Halverson</h1>

  <p>Website of Dan Halverson</p>

  <p>
    <a class="btn btn-primary btn-lg" ng-href="#/" role="button">Learn
      more &raquo;</a>
  </p>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>Auto</h2>

    <p>My favorite cars and motorcycles.</p>

    <p>
      <a class="btn btn-default" ng-href="#/auto" role="button">View
        details &raquo;</a>
    </p>
  </div>
  <div class="col-md-4">
    <h2>Apps</h2>

    <p>Here are Web Applications that I have written.</p>

    <p>
      <a class="btn btn-default" ng-href="#/apps" role="button">View
        details &raquo;</a>
    </p>
  </div>
  </div>
<div class="row">
  <div class="col-md-4">
    <h2>Resume</h2>

    <p>
      <a class="btn btn-default"
         ng-href="#/resume" role="button">View
        details &raquo;</a>
    </p>
  </div>
  <div class="col-md-4">
    <h2>Blog</h2>

    <p>
      <a class="btn btn-default" ng-href="#/blog" role="button">View
        details &raquo;</a>
    </p>
  </div>
</div>
