<div ng-controller="photoGalleryController" data-perpage="40" data-totalphotos="409"
     data-fileprefix="images/scanPhotos/photo" data-filesuffix=".jpg" role="main">
  <script type="text/ng-template" id="pictureModal.html">
    <div class="modal-body">
      <img ng-src="{{modalPhoto}}" class="img-responsive"/>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary previous" type="button" ng-hide="hidePrevious" ng-click="prev()">&laquo;
        prev
      </button>
      <button class="btn btn-primary next" type="button" ng-hide="hideNext" ng-click="next()">
        next &raquo;</button>
    </div>
  </script>
  <div id="tpl-content" ng-include src="'views/generateGallery.html'"></div>
  <hr>
    <span>
    <button ng-repeat="button in buttons" class="btn btn-primary btn-xs" ng-click="click(button)"
            id="tpl-link{{button}}">Page {{button}}
    </button>
    </span>
</div>
