<h2>URL Builder</h2>
<h4>Build a URL with query parameters and launch it!</h4>
<table class="table table-bordered">
  <thead>
  <tr>
    <th>Key</th>
    <th>Value</th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="query in queries">
    <td>{{query.key}}</td>
    <td>{{query.value}}</td>
  </tr>
  </tbody>
</table>
<hr>
<h5>Add a new query parameter</h5>
<form class="form-horizontal">
  <div class="form-group">
    <label for="queryKey" class="col-sm-2 control-label">Key</label>
    <input id="queryKey" ng-model="query.key" type="text" class="input-group col-sm-2"/>
  </div>
  <div class="form-group">
    <label for="queryValue" class="col-sm-2 control-label">Value</label>
    <input id="queryValue" ng-model="query.value" type="text" class="input-group col-sm-2"/>
  </div>
  <button class="btn btn-primary btn-sm" id="addQuery" ng-click="addQuery()"> + Add Query Parameter</button>
</form>
<hr>
<h5>Assemble the URL and Launch it</h5>
<form class="form-horizontal">
  <div class="form-group">
    <label for="baseUrl" class="col-sm-2 control-label">Base URL</label>
    <input id="baseUrl" ng-model="baseUrl" type="text" class="input-group col-sm-2"/>
  </div>
  <button class="btn btn-primary btn-sm" id="assemble" ng-click="assemble()">Assemble URL</button>
  <div class="form-group">
    <label for="assembledUrl" class="col-sm-2 control-label">Assembled URL</label>
    <textarea id="assembledUrl" rows="4" cols="50">{{assembledUrl}}</textarea>
  </div>
  <button class="btn btn-danger btn-sm" id="launch" ng-click="launch()">Launch</button>
</form>
