<h2>Dan and Courtney's Wedding Personal Photos and Honeymoon</h2>

<p>Here are a series of snaps from our wedding and honeymoon.</p>
<hr>
<p>
  <a class="btn btn-default" ng-href="#/snapGallery"
     role="button">View Album &raquo;</a>
</p>
<hr>
<h2>Dan and Courtney's Wedding Photography</h2>

<p>Dan and Courtney's Wedding photography provided by Terry's
  Photography of Morris, IL (815) 942-0110.&nbsp; All pictures are
  copyrighted by Terry's Photography and therefore cannot be
  downloaded.&nbsp;</p>
<hr>
<p>
  <a class="btn btn-default"
     ng-href="#/scanGallery" role="button">View
    Album &raquo;</a>
</p>
